@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Mooli&family=Nunito:wght@200&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: "Nunito";
    text-align: center;
    font-size: 2.5vw;
}

#countdown {
    font-family: "Nunito";
    font-size: 4vw;
    text-align: center;
    margin-top: 15px;
}
.wrapper {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;

}

h1 {
    font-size: 5vw;
    font-family: "Nunito";
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
}

.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #8bb8f3 0%, #badce4 25%, #8bb8f3 51%, #badce4 100%);
    -webkit-animation: AnimateBG 30s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

@keyframes fadeIn {
    from {
        top: 20%;
        opacity: 0;
    }

    to {
        top: 100;
        opacity: 1;
    }

}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes fadeIn {
    from {
        top: 20%;
        opacity: 0;
    }

    to {
        top: 100;
        opacity: 1;
    }

}
